In [1]:
import pandas as pd
import numpy as np
import sklearn
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score

In [36]:
df = pd.read_csv("data/diabetes_prediction_dataset.csv")
df.describe()

,age,hypertension,heart_disease,bmi,HbA1c_level,blood_glucose_level,diabetes
count,100000.000000,100000.00000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000
mean,41.885856,0.07485,0.039420,27.320767,5.527507,138.058060,0.085000
std,22.516840,0.26315,0.194593,6.636783,1.070672,40.708136,0.278883
min,0.080000,0.00000,0.000000,10.010000,3.500000,80.000000,0.000000
25%,24.000000,0.00000,0.000000,23.630000,4.800000,100.000000,0.000000
50%,43.000000,0.00000,0.000000,27.320000,5.800000,140.000000,0.000000
75%,60.000000,0.00000,0.000000,29.580000,6.200000,159.000000,0.000000
max,80.000000,1.00000,1.000000,95.690000,9.000000,300.000000,1.000000

In [37]:
df.head()

,gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,diabetes
0,Female,80.0,0,1,never,25.19,6.6,140,0
1,Female,54.0,0,0,No Info,27.32,6.6,80,0
2,Male,28.0,0,0,never,27.32,5.7,158,0
3,Female,36.0,0,0,current,23.45,5.0,155,0
4,Male,76.0,1,1,current,20.14,4.8,155,0

In [38]:
df["gender"].value_counts()

gender
Female    58552
Male      41430
Other        18
Name: count, dtype: int64

In [39]:
df["gender"] = df["gender"].replace({"Male": 0, "Female": 1, "Other": np.nan})

In [40]:
df["smoking_history"].value_counts()

smoking_history
No Info        35816
never          35095
former          9352
current         9286
not current     6447
ever            4004
Name: count, dtype: int64

In [41]:
df["smoking_history"] = df["smoking_history"].replace({
    "No Info": np.nan,
    "never": 0,
    "ever": 0,
    "former": 1,
    "not current": 1,
    "current": 2
})

In [42]:
df.head(20)

,gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,diabetes
0,1.0,80.0,0,1,0.0,25.19,6.6,140,0
1,1.0,54.0,0,0,NaN,27.32,6.6,80,0
2,0.0,28.0,0,0,0.0,27.32,5.7,158,0
3,1.0,36.0,0,0,2.0,23.45,5.0,155,0
4,0.0,76.0,1,1,2.0,20.14,4.8,155,0
5,1.0,20.0,0,0,0.0,27.32,6.6,85,0
6,1.0,44.0,0,0,0.0,19.31,6.5,200,1
7,1.0,79.0,0,0,NaN,23.86,5.7,85,0
8,0.0,42.0,0,0,0.0,33.64,4.8,145,0
9,1.0,32.0,0,0,0.0,27.32,5.0,100,0
10,1.0,53.0,0,0,0.0,27.32,6.1,85,0
11,1.0,54.0,0,0,1.0,54.70,6.0,100,0
12,1.0,78.0,0,0,1.0,36.05,5.0,130,0
13,1.0,67.0,0,0,0.0,25.69,5.8,200,0
14,1.0,76.0,0,0,NaN,27.32,5.0,160,0
15,0.0,78.0,0,0,NaN,27.32,6.6,126,0
16,0.0,15.0,0,0,0.0,30.36,6.1,200,0
17,1.0,42.0,0,0,0.0,24.48,5.7,158,0
18,1.0,42.0,0,0,NaN,27.32,5.7,80,0
19,0.0,37.0,0,0,0.0,25.72,3.5,159,0

In [44]:
X = df.iloc[:, :-1]
y = df.iloc[:, -1]

X = SimpleImputer(missing_values=np.nan, strategy="mean").fit_transform(X)

In [45]:
X_train, X_test, y_train, y_test = train_test_split(X, y)

In [46]:
scaler = StandardScaler()

X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [47]:
svc = SVC(kernel="linear")
svc.fit(X_train, y_train)

SVC(kernel='linear')

In [48]:
y_predict = svc.predict(X_test)
accuracy_score(y_test, y_predict)

0.9588